<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <style>{% include main.css %}</style>
  <link href="{{ "/assets/css/fonts.css" | relative_url }}" rel="stylesheet">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" type="image/png" href="{{ "/images/me.png" | relative_url }}"/>
  {% feed_meta %}
  <title>{{ page.title | escape }} | {{ site.title }} </title>

  <!-- Matomo -->
  <script type="text/javascript">
      var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
        var u="//piwik.mostlyharmless.io/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '9']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
  </script>
  <!-- End Matomo Code -->

</head>
